<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Acceuil </title>

    <!-- Bootstrap -->
    <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{{ asset('vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{{ asset('vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="{{ asset('build/css/custom.css') }}" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <!-- top navigation -->

        {{ include("APUsersBundle:Default:topnav.html.twig") }}

<div class="col-md-12">
    <ul style="float: left">
        <li class="btn btn-primary" style="padding: 3px 40px;"> Interieur</li>
        <li class="btn btn-default" style="padding: 3px 40px;"> Couloir</li>
        <li class="btn btn-default" style="padding: 3px 40px;"> Terrasse</li>

    </ul>


    <ul style="float: right;" class="inline">
        <li class="cw" style="display:inline-block;margin-right:10px;" ><i class="fa fa-square purple"></i> Veronique</li>

        <li class="cw" style="display:inline-block;margin-right:10px;" ><i class="fa fa-square red"></i> Josée</li>

        <li class="cw" style="display:inline-block;margin-right:10px;" ><i class="fa fa-square blue"></i> Michelle</li>



    </ul>
</div>

        <!-- page content -->
        <div class="right_col" style="margin-left: 0" role="main">
            <!-- top tiles -->

            <!-- /top tiles -->

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;">

                    <div class="col-md-3 col-sm-3 col-xs-12 nopad" >
<div style="margin-top:20px; margin-left: 30px;
border: 1px dashed #ddd;padding:10px; ">
                        <ul class="nopad">
                            <li class="btn btn-default menublok" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                        </ul>
<br><br>
                        <ul class="nopad">
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                        </ul>


                        <br><br>
                        <ul class="nopad">
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                        </ul>



                        <br><br>
                        <ul class="nopad">
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                            <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                        </ul>
                    </div>

                    </div>




                    <div class="col-md-3 col-sm-3 col-xs-12 nopad" >
                        <div style="margin-top:20px; margin-left: 30px;
border: 1px dashed #ddd;padding:10px; ">
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>
                            <br><br>
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>


                            <br><br>
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>



                            <br><br>
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 nopad" >
                        <div style="margin-top:20px; margin-left: 30px;
border: 1px dashed #ddd;padding:10px; ">
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>
                            <br><br>
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>


                            <br><br>
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>



                            <br><br>
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 nopad" >
                        <div style="margin-top:20px; margin-left: 30px;
border: 1px dashed #ddd;padding:10px; ">
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>
                            <br><br>
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>


                            <br><br>
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>



                            <br><br>
                            <ul class="nopad">
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px "> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;margin-bottom:10px"> VIP 2</li>

                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 1</li>
                                <li class="btn btn-default" style="padding: 5px 15px;"> VIP 2</li>

                            </ul>
                        </div>

                    </div>








                </div>

            </div>
            <br />



        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div>
                            <p style="font-size: 11px;">©2016 All Rights Reserved. Affides POS! Contact Assistance :<br> <span style="background-color: white;color:black;padding:2px 10px;"> 697511214 / 676013924 </span> </p>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('vendors/fastclick/lib/fastclick.js') }}"></script>
<!-- NProgress -->
<script src="{{ asset('vendors/nprogress/nprogress.js') }}"></script>
<!-- Chart.js -->
<script src="{{ asset('vendors/Chart.js/dist/Chart.min.js') }}"></script>
<!-- gauge.js -->
<script src="{{ asset('vendors/gauge.js/dist/gauge.min.js') }}"></script>
<!-- bootstrap-progressbar -->
<script src="{{ asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
<!-- iCheck -->
<!-- Skycons -->


<!-- Custom Theme Scripts -->
<script src="{{ asset('build/js/custom.js') }}"></script>

</body>
</html>
