<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Table  </title>

    <!-- Bootstrap -->
    <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{{ asset('vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{{ asset('vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="{{ asset('build/css/custom.css') }}" rel="stylesheet">


    <link href="{{ asset('css/smart_cart.min.css') }}" rel="stylesheet" type="text/css" />

<style>

    ul.tabss{
    margin: 0px;
    padding: 5px;
    list-style: none;
    }
    ul.tabss li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
        border-radius: 2px;
    }

    ul.tabss li.current{
    background: #41AF4B;
    color: #fff;
    }
</style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <!-- top navigation -->

        {{ include("APUsersBundle:Default:topnav.html.twig") }}


        <!-- /top navigation -->



        {% if tab.occupe %}


        {% for prod in tab.tickets %}

        {% if prod.etat == 1 %}

            {% if prod.employes == app.user %}
        <!-- page content -->
        <div class="right_col" style="margin-left: 0" role="main">
            <!-- top tiles -->

            <!-- /top tiles -->

            <div class="row">





                <div class="col-md-12 col-sm-12 col-xs-12">






                    <div class="dashboard_graph"  style="padding: 20px 40px;">


                            <ul style="float:left;list-style: none;border: none;padding-left: 11px;"  class="nav-tabs" >

                            {% for cat in categories %}
                                            <li class="lieu {%   if loop.first %} active {% endif %}"  style="
    cursor: pointer;"><a hr="#{{ cat.nom }}" style="  padding: 5px 13px;
                         cursor: pointer;"> {{ cat.nom }} </a></li>
                                        {% endfor %}
                                    </ul>


                            <div class="col-md-9 col-sm-9 col-xs-12 tabs-content right_col" style="margin-left: 0;padding: 10px 40px 0 0" role="main">

{% for cat in categories %}

                                <div class="col-md-12 col-sm-12 col-xs-12 tab {% if loop.first  %} active {% endif %} " id="{{ cat.nom }}" >

               {% for prod in produits %}

                   {% if prod.category == cat.nom %}

                            <div class="col-md-2 col-sm-2 col-xs-12 nopad"   >


                                <div class="col-md-12 col-sm-12 col-xs-12 nopad" >

                                    <a  class="sc-add-to-cart"  >

                                    <div class="sc-product-item acc blockmenu   menublok" style="background-color: white;height: 70px" >
                                        <div class="col-md-3 col-sm-3 col-xs-12" >

                                            {% if prod.thumbnail is  null  %}
                                                <img src="{{ asset('imgprod/def.jpg') }}" style="width: 80%">

                                            {% else %}
                                                <img src="{{ asset( prod.thumbnail.uploadDir() ~ prod.thumbnail.url) }}" style="width: 80%">

                                            {% endif %}
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-12"  >
                                        <h2 data-name="product_name" style="text-transform: uppercase;color:black;font-size: 0.9em"> {{ prod.designation }}</h2>
                                        <h5> {{ prod.prixvente }} Fcfa</h5>

                                            <input name="product_price" value="{{ prod.prixvente }}" type="hidden" />
                                            <input name="product_id" value="{{ prod.id }}" type="hidden" />

                                        </div>
                                    </div>

                                    </a>



                                </div>

                            </div>
                   {% endif %}

               {% endfor %}

                                </div>

{% endfor %}
                            </div>





                        <div class="col-md-3 col-sm-3 nopad hash">
                            <div class="x_title" style="
    padding-bottom: 2px;
    margin-bottom: 0;    margin-top: -35px;">
                                <h4  style="display:inline-block"> Table {{ tab.nom }} </h4>
                             {#   <a href="#" class="" style="    background-color: #FFEAEA;
    border: 1px solid #FFA8A8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #FF7474;
    font-size: 12px;
    font-weight: 400;float:right;padding:5px 10px;margin-top:4px;">
                                    <i class="fa fa-close"></i>
                                    Annuler commande				</a>#}
                                <div class="clearfix"></div>
                            </div>











                                {% if tab.occupe %}


                                    {% for prod in tab.tickets %}

                                        {% if prod.etat == 1 %}

                                            <div class="panel panel-default">

                                            <div style="    text-align: center;
    background-color: rgba(255, 235, 0, 0.28);
"> Commande(s) actuelles </div>
                                                {% set total = 0 %}

                                        {% for prods in prod.boncommandes %}

                                            {% for  liste in prods.commandeprods %}



                                                <div style=" padding:0 5px;"> <span style="display: inline-block;text-align: center;width:5%">{{ liste.quantite }}</span> <span style="display: inline-block;text-align: left;width:76%">{{ liste.produit.designation }}</span> <span style="display: inline-block;text-align: center;width:15%">{{ liste.quantite*liste.produit.prixvente }}</span>  </div>

                                                {% set total = total + liste.quantite*liste.produit.prixvente %}

                                            {%  endfor %}

                                            {% if not loop.last %}
                           <hr style="margin:0">

                                        {% endif %}

                                        {%  endfor %}


                                                <ul class="tabss">
                                                    <li class="tab-link current" data-tab="tab-1">Espèces</li>
                                                    <li class="tab-link" data-tab="tab-2">Orange Money</li>
                                                    <li class="tab-link" data-tab="tab-3">Carte</li>
                                                </ul>



                                              <span id="liens">  <a href="{{ path('ap_caisse_ticket', { 'id': ticketid,'mode':"especes",'total':total }) }}" class="btn btn-success" style="width: 100%;
    margin: 15px auto 3px;
    padding: 10px 5px;
    "> <span style="float: left;" >VALIDER TICKET </span>  <span style="float: right;font-size:15px"><span id="totals">{{ total }}</span> Fcfa </span> </a> </span>


                                            </div>


                                        {% endif %}


                                    {% endfor %}




                                {% endif %}











                        <div id="smartcart">

                         {#   <div class="col-md-4 col-sm-6 col-xs-12 ">
                                <div class=" acc blockmenu" style="height:60px;border: 1px solid #ddd">



                                    <i class="fa fa-file-text-o" style="
    line-height: 15px;
    font-size: 20px;
    margin-top: 10px;"> </i>

                                    <h6>  Remarque</h6>

                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="acc blockmenu" style="height:60px;border: 1px solid #ddd">



                                    <i class="fa fa-percent" style="
    line-height: 15px;
    font-size: 20px;
    margin-top: 10px;"> </i>

                                    <h6> Remise</h6>

                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="bg-green acc blockmenu" style="height:60px;">



                                    <i class="fa fa-paper-plane-o" style="
    line-height: 15px;
    font-size: 20px;
    margin-top: 10px;"> </i>

                                    <h6>  commande</h6>

                                </div>
                            </div>

#}

                        </div>

                        </div>




                        <div class="clearfix"></div>
                    </div>




                </div>

            </div>
            <br />



        </div>
        <!-- /page content -->
            {% else %}
                <div class="col-lg-4"></div>
          <div class="col-lg-3" style=" margin-left: 4%;
">
              <div class="panel panel-default" style="text-align: center; padding: 10% 0;">
                  <img src="{{ asset('images/interdit.jpg') }}" style="width:40%" />


                  <div class="alert alert-danger alert-dismissible fade in" role="alert" style="

       padding: 5px 20px;
    margin: 5% 20%;background-color: #e3010f">
                      Table géré par <strong> {{ prod.employes.username }} </strong>

                  </div>

                  <a href="{{ path('ap_caisse_homepage') }}" > <i class="fa fa-chevron-circle-left"></i> retour </a>


              </div>

          </div>
                <div class="col-lg-2"></div>
                {% endif %}

{% endif %}



            {% endfor %}

        {% else %}

        <!-- page content -->
        <div class="right_col" style="margin-left: 0" role="main">
            <!-- top tiles -->

            <!-- /top tiles -->

            <div class="row">





                <div class="col-md-12 col-sm-12 col-xs-12">






                    <div class="dashboard_graph"  style="padding: 20px 40px;">


                        <ul style="float: left;
    list-style: none;
    border-bottom: 1px solid white;
    padding-left: 0px;
    padding-bottom: 4px;
    margin-left: 10px;    width: 70.5%;"  class="nav-tabs" >

                            {% for cat in categories %}
                                <li class="lieu {%   if loop.first %} active {% endif %}"  style="
    cursor: pointer;"><a hr="#{{ cat.nom }}" style="  padding: 5px 13px;
                         cursor: pointer;"> {{ cat.nom }} </a></li>
                            {% endfor %}
                        </ul>


                        <div class="col-md-9 col-sm-9 col-xs-12 tabs-content right_col" style="margin-left: 0;padding: 10px 40px 0 0" role="main">

                            {% for cat in categories %}

                                <div class="col-md-12 col-sm-12 col-xs-12 tab {% if loop.first  %} active {% endif %} " id="{{ cat.nom }}" >

                                    {% for prod in produits %}

                                        {% if prod.category == cat.nom %}

                                            <div class="col-md-2 col-sm-2 col-xs-12 nopad"   >


                                                <div class="col-md-12 col-sm-12 col-xs-12 nopad" >

                                                    <a  class="sc-add-to-cart"  >

                                                        <div class="sc-product-item acc blockmenu   menublok" style="background-color: white;height: 70px" >
                                                            <div class="col-md-3 col-sm-3 col-xs-12" >

                                                                {% if prod.thumbnail is  null  %}
                                                                    <img src="{{ asset('imgprod/def.jpg') }}" style="width: 80%">

                                                                {% else %}
                                                                    <img src="{{ asset( prod.thumbnail.uploadDir() ~ prod.thumbnail.url) }}" style="width: 80%">

                                                                {% endif %}
                                                            </div>
                                                            <div class="col-md-9 col-sm-9 col-xs-12"  >
                                                                <h2 data-name="product_name" style="text-transform: uppercase;color:black;font-size: 0.9em"> {{ prod.designation }}</h2>
                                                                <h5> {{ prod.prixvente }} Fcfa</h5>

                                                                <input name="product_price" value="{{ prod.prixvente }}" type="hidden" />
                                                                <input name="product_id" value="{{ prod.id }}" type="hidden" />

                                                            </div>
                                                        </div>

                                                    </a>



                                                </div>

                                            </div>
                                        {% endif %}

                                    {% endfor %}

                                </div>

                            {% endfor %}
                        </div>





                        <div class="col-md-3 col-sm-3 nopad hash">
                            <div class="x_title" style="
    padding-bottom: 2px;
    margin-bottom: 0;    margin-top: -35px;">
                                <h4  style="display:inline-block"> Table {{ tab.nom }} </h4>
                                {#   <a href="#" class="" style="    background-color: #FFEAEA;
       border: 1px solid #FFA8A8;
       -moz-border-radius: 3px;
       -webkit-border-radius: 3px;
       border-radius: 3px;
       color: #FF7474;
       font-size: 12px;
       font-weight: 400;float:right;padding:5px 10px;margin-top:4px;">
                                       <i class="fa fa-close"></i>
                                       Annuler commande				</a>#}
                                <div class="clearfix"></div>
                            </div>











                            {% if tab.occupe %}


                                {% for prod in tab.tickets %}

                                    {% if prod.etat == 1 %}

                                        <div class="panel panel-default">

                                            <div style="    text-align: center;
    background-color: rgba(255, 235, 0, 0.28);
"> Commande(s) actuelles </div>
                                            {% set total = 0 %}

                                            {% for prods in prod.boncommandes %}

                                                {% for  liste in prods.commandeprods %}



                                                    <div style=" padding:0 5px;"> <span style="display: inline-block;text-align: center;width:5%">{{ liste.quantite }}</span> <span style="display: inline-block;text-align: left;width:76%">{{ liste.produit.designation }}</span> <span style="display: inline-block;text-align: center;width:15%">{{ liste.quantite*liste.produit.prixvente }}</span>  </div>

                                                    {% set total = total + liste.quantite*liste.produit.prixvente %}

                                                {%  endfor %}

                                                {% if not loop.last %}
                                                    <hr style="margin:0">

                                                {% endif %}

                                            {%  endfor %}



                                            <ul class="tabss">
                                                <li class="tab-link current" data-tab="tab-1">Tab One</li>
                                                <li class="tab-link" data-tab="tab-2">Tab Two</li>
                                                <li class="tab-link" data-tab="tab-3">Tab Three</li>
                                                <li class="tab-link" data-tab="tab-4">Tab Four</li>
                                            </ul>



                                            <a href="{{ path('ap_caisse_ticket', { 'id': ticketid,'mode':"espece",'total':total }) }}" class="btn btn-success" style="width: 100%;
    margin: 15px auto 3px;
    padding: 10px 5px;
    "> <span style="float: left;">VALIDER TICKET </span>  <span style="float: right;font-size:15px" >{{ total }} Fcfa </span> </a>


                                        </div>


                                    {% endif %}


                                {% endfor %}




                            {% endif %}











                            <div id="smartcart">

                                {#   <div class="col-md-4 col-sm-6 col-xs-12 ">
                                       <div class=" acc blockmenu" style="height:60px;border: 1px solid #ddd">



                                           <i class="fa fa-file-text-o" style="
           line-height: 15px;
           font-size: 20px;
           margin-top: 10px;"> </i>

                                           <h6>  Remarque</h6>

                                       </div>
                                   </div>

                                   <div class="col-md-4 col-sm-6 col-xs-12">
                                       <div class="acc blockmenu" style="height:60px;border: 1px solid #ddd">



                                           <i class="fa fa-percent" style="
           line-height: 15px;
           font-size: 20px;
           margin-top: 10px;"> </i>

                                           <h6> Remise</h6>

                                       </div>
                                   </div>

                                   <div class="col-md-4 col-sm-6 col-xs-12">
                                       <div class="bg-green acc blockmenu" style="height:60px;">



                                           <i class="fa fa-paper-plane-o" style="
           line-height: 15px;
           font-size: 20px;
           margin-top: 10px;"> </i>

                                           <h6>  commande</h6>

                                       </div>
                                   </div>

       #}

                            </div>

                        </div>




                        <div class="clearfix"></div>
                    </div>




                </div>

            </div>
            <br />



        </div>
        <!-- /page content -->
        {% endif %}
        <!-- footer content -->
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('vendors/fastclick/lib/fastclick.js') }}"></script>
<!-- NProgress -->
<script src="{{ asset('vendors/nprogress/nprogress.js') }}"></script>
<!-- Chart.js -->
<script src="{{ asset('vendors/Chart.js/dist/Chart.min.js') }}"></script>
<!-- gauge.js -->
<script src="{{ asset('vendors/gauge.js/dist/gauge.min.js') }}"></script>
<!-- bootstrap-progressbar -->
<script src="{{ asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>




<script src="{{ asset('js/jquery.smartCart.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<!-- Initialize -->
<script type="text/javascript">
    $(document).ready(function(){
        // Initialize Smart Cart
        $('#smartcart').smartCart();







        $('.sc-cart-checkout').on('click',function(){


            var prod = $('#cart_list').val();
            var table = {{ tab.id }};

            if (prod != '[]' ) {


                    $.ajax({
                        url:Routing.generate('ap_caisse_commande', { prod: prod, id: table }),

                        method: "GET",
                    data: "",
                    success: function (data) {

                        $('#smartcart').html(data);


                    }
                });

            } else{
                alert("entrez une quatité");
            }


        });

        var ticketid = {{ ticketid }};

        var total = $('#totals').text();

        $('ul.tabss li').click(function(){

            var tab_id = $(this).attr('data-tab');

            $('ul.tabss li').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');

            var mode = $(this).text();

            var  lien =  Routing.generate('ap_caisse_ticket', { id:ticketid,mode:mode,total:total});

            $('#liens').html('<a href="'+lien+'"  class="btn btn-success"  style="width: 100%;margin: 15px auto 3px;padding: 10px 5px;"> <span style="float: left;">VALIDER TICKET </span>  <span style="float: right;font-size:15px">'+total+' Fcfa </span> </a>');


        })


    });

</script>



<script>



    var systemOnglet = function(a){

        var li = a.parentNode
        var div = a.parentNode.parentNode.parentNode.parentNode;

//si l'on clique sur la classe active rien ne se passe
        if(li.classList.contains('active')){
            return false
        }



//on retire la class active
        div.querySelector('.nav-tabs .active').classList.remove('active')

//on ajoute la classe active sur l'onglet cliqué
        li.classList.add('active');

        div.querySelector('.tabs-content .active').classList.remove('active');

        div.querySelector(a.getAttribute('hr')).classList.add('active');

    }



    var tabs = document.querySelectorAll('.nav-tabs a')
    for (var i=0; i < tabs.length; i++){

        tabs[i].addEventListener('click', function (e) {

            systemOnglet(this);
        })

    }



    var hash = window.location.hash
    var a = document.querySelector('a[hr="'+hash+'"]')

    if(a !== null && !a.parentNode.classList.contains('active') ){

        systemOnglet(a);

    }



</script>



<!-- Custom Theme Scripts -->
<script src="{{ asset('build/js/custom.js') }}"></script>

</body>
</html>
