


<div class="modal-dialog modal-sm">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2" style="line-height:0 ">Details ventes {{ user.username }}</h4>
            <h6 style="margin-bottom: 0">du {{ from }} au {{ to }}</h6>

        </div>
        <div class="modal-body" style="padding: 0">


            <table class="table table-striped jambo_table bulk_action" style="margin-bottom:0;">
                <thead>
                <tr class="headings" >
                    <th class="column-title" style="padding: 5px 2px "> produit  </th>
                    <th class="column-title" style="padding: 5px 2px "> qte </th>
                    <th class="column-title" style="padding: 5px  2px "> tot </th>


                    </th>

                </tr>
                </thead>

                <tbody id="donnees">

                {% for prod in cmd %}








                    <tr class="even pointer">

                        <td style="padding: 2px ">{{ prod.produit }}</td>
                        <td style="padding: 2px ">{{ prod.qte }}</td>
                        <td style="padding: 2px ">{% set tt = prod.qte*prod.vente %} {{   tt|number_format('0', '.', ' ')}}</td>

                    </tr>



                {%  endfor %}



                </tbody>
            </table>
            <div style="padding:5px;">
<h6> Total espece : <span style="float: right"> {{ espece|number_format('0', '.', ' ') }} Fcfa </span></h6>
                <h6> Total orange money : <span style="float: right"> {{ orange|number_format('0', '.', ' ') }} Fcfa</span></h6>
                <h6> Total carte : <span style="float: right"> {{ carte|number_format('0', '.', ' ') }} Fcfa</span></h6>
                <h6> TOTAL : <span style="float: right">{{ total }}  Fcfa </span></h6>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>

            <a href="{{path('ap_caisse_detail_vendeur_print', {  'id':user.id,'total':total,'from':from,'to':to,'espece':espece,'orange':orange,'carte':carte }) }}" target=""  class="btn btn-success" style="padding: 5px 30px;"><i class="fa fa-print"></i> Imprimer </a>

        </div>

    </div>
</div>











