








<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Paramètre </title>

    <!-- Bootstrap -->
    <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{{ asset('vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{{ asset('vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="{{ asset('build/css/custom.css') }}" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <!-- top navigation -->

        {{ include("APUsersBundle:Default:topnav.html.twig") }}


        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" style="margin-left: 0" role="main">
            <!-- top tiles -->

            <!-- /top tiles -->

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard_graph">

                        <div class="col-md-4"></div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="x_panel tile" style="    min-height: 305px;">

                                <div class="x_content">

                                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                                    {{ form_widget(form) }}
                                    <div><br>
                                        <center>   <input type="submit" class="btn btn-success" value="Changer de mot de passe" /> </center>
                                    </div>
                                    {{ form_end(form) }}

                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <br />



        </div>
        <!-- /page content -->

        <!-- footer content -->{#
        <footer>
            <div>
                <br><br><br><br>
                <h4 style="margin-bottom:10px;"><i class="fa fa-paw"></i> Affides Pos</h4>
                <p style="font-size: 11px;">©2016 All Rights Reserved. Affides POS! Contact Assistance :<br> <span style="background-color: white;color:black;padding:2px 10px;"> 697511214 / 676013924 </span> </p>
            </div>
            <div class="clearfix"></div>
        </footer>#}
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>



<!-- Custom Theme Scripts -->
<script src="{{ asset('build/js/custom.js') }}"></script>




</body>
</html>

