{% trans_default_domain 'FOSUserBundle' %}






<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Affides Pos </title>

    <!-- Bootstrap -->
    <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- Animate.css -->

    <!-- Custom Theme Style -->
    <link href="{{ asset('build/css/custom.css') }}" rel="stylesheet">
</head>

<body class="login">
<div>


    <div class="login_wrapper">
        <div class="animate form login_form" >
            <section class="login_content" style="background-color: white;
                     padding: 10px 20px;
                     border-radius: 4px;
                     margin-top: 50px;"
            >


                <center>  <a href="#" id="company-branding" ><img src="{{ asset('images/posnic.png') }}" style="width:100%"/></a>
                </center>


                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <h1>Connexion</h1>
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div>
                        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" />

                    </div>
                    <div>

                        <input type="password"  class="form-control" id="password" placeholder="{{ 'security.login.password'|trans }}" name="_password" required="required" />

                    </div>
                    <div>
                        <center>  <button type="submit" id="_submit" name="_submit" class="btn btn-success submit" style="padding:8px 120px" >{{ 'security.login.submit'|trans }}</button>  </center>
                    </div>


                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div >


                    </div>
                </form>
            </section>



            <br />
            <br /><br />
            <br />
            <br /><br />

            <div style="text-align:center;font-size:11px;">
                <h1 style="margin-bottom:10px;font-size:14px;"><i class="fa fa-paw"></i> Affides Pos</h1>
                <p>©2016 All Rights Reserved. Affides POS! Contact Assistance :  697511214 / 676013924  </p>
            </div>
        </div>




    </div>
</div>
</body>
</html>
