
<!DOCTYPE html>
<html lang="en">
<head>
<style>
    .column-title{
        margin:0;
    }
   table.jambo_table {
       border: 1px solid rgba(221, 221, 221, 0.78);
       margin-top: 10px;
   }
 th {
     background-color: rgba(52, 73, 94, 0.94);
     color: #ECF0F1;
     padding: 8px;
     line-height: 1.42857143;
   }



   td{
       padding: 8px;
       line-height: 1.42857143;
       vertical-align: top;
       border: 1px solid #ddd;
   }

</style>


</head>

<body >


<div  >
    <img src="./images/posnic.png" style="width:80px;display: inline-block;float:left;margin-right: 20px;" >        <h3 style="color:black;text-align:left;font-size: 16px;display:inline-block;margin-top:10px;" > Inventaire de stock du  <span style="color:#41AF4B;">{{ "now"|date("d-m-Y H:i") }}</span> </h3>

    <h5 style="font-weight: 100;font-size:13px;display:inline-block;float:right;margin-top:-10px;margin-left:100px; " >effectué par :<strong> {{ app.user.username }} </strong></h5>

</div>
<br>


                                    <table class="table table-striped jambo_table "  style="margin-left: 100px;" >
                                        <thead>
                                        <tr >
                                            <th>code </th>
                                            <th style="width:200px;">Designation </th>
                                            <th>Qte en stock</th>
                                            <th>Qte verifiée</th>


                                        </tr>
                                        </thead>

                                        <tbody>

                                      {%   for listeop in liste %}
                                          <tr class="even pointer">
                                              <td> {{ listeop.code }}</td>
                                              <td style="width:200px;" >{{ listeop.designation }}</td>
                                              <td>{% if listeop.divvendu is not null and listeop.divvendu != 0 %}
                                                      {{ listeop.qtestock - 1  }} + {% if listeop.qtepart/2 == listeop.divvendu %} 1/2btlle {% else %} {% set nbreconso = listeop.qtepart-listeop.divvendu  %} {{ nbreconso }} conso {% endif %}
                                                  {% else %} {{ listeop.qtestock }} {% endif %}</td>
                                              <td></td>

                                          </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>















</body>
</html>




