<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <a href="{{ path('homepage') }}" id="company-branding" ><img src="{{ asset('images/logo.png') }}" style="    width: 5%;
    margin-left: 4.5%;"/>  <h4 style="    color: rgba(255, 255, 255, 0.72);
    display: inline-block;">BASTOS</h4>



            </a>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" style="text-transform: none" data-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('images/user.png') }}" alt="">Bonjour,  {{ app.user.username }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li> <a href="{{ path('fos_user_change_password') }}"> <i class="fa fa-cog pull-left"></i>  Paramètres</a></li>

                        <li> <a href="{{ path('fos_user_security_logout') }}">

                                <i class="fa fa-power-off pull-left"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} </a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-clone"></i>
                        <span class="badge bg-green"> - </span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">


                        {% if app.user.tickets|length == 0  %}
                        <center><h5> AUCUNE COMMANDE</h5> </center>
                        {% endif %}

                        {% for  ticket in app.user.tickets %}

                        {% if ticket.etat == 1 %}
                        <li>
                            <a href="{{ path('ap_caisse_table', { 'id': ticket.tables.id }) }}">

                                <i class="fa fa-clone"></i>
                                <span>
                          <span>table {{ ticket.tables.nom }} </span>
                          {#<span class="time">XXX</span>#}
                        </span>
                                <span class="message">


                                    {% for  prod in ticket.boncommandes[:1] %}


                                    {% for  liste in prod.commandeprods %}

                                    {{ liste.produit.designation }},

                                        {%  endfor %}

                                {% endfor %}
...

                        </span>
                            </a>
                        </li>

                        {% endif %}


                        {% endfor %}


                        <li style="background-color: #1ABB9C;">
                            <div class="text-center">
                                <a href="{{ path('ap_caisse_homepage') }}">
                                    <strong>Voir toutes les commandes</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
