




<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> ventes par serveur </title>


    <style>
        .column-title{
            margin:0;
        }
        table.jambo_table {
            border: 1px solid rgba(221, 221, 221, 0.78);
            margin-top: 10px;
        }
        th {
            background-color: rgba(52, 73, 94, 0.94);
            color: #ECF0F1;
            padding: 8px;
            line-height: 1.42857143;
        }



        td{
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border: 1px solid #ddd;
        }

    </style>

</head>

<body>

                <h3><img src="./images/posnic.png" style="width:90px;display: inline-block;float:left;margin-right: 20px;" ></h3>


                <h3 style="color:black;text-align:left;font-size: 16px;">  ventes  par Serveur   du <span style="color:#41AF4B;" id="yes">{{ yes }}</span> au  <span style="color:#41AF4B" id="day">{{ day }}</span></h3>

<br>
                <div style="text-align: center;width: 100%;position: relative;">
                    <table class="table table-striped jambo_table bulk_action" style="margin-left:50px;">
                        <thead>
                        <tr class="headings">
                            <th style="width: 200px;">Vendeur  </th>
                            <th> Espèces </th>
                            <th>Orange Money </th>
                            <th>Carte </th>
                            <th>Total </th>


                        </tr>
                        </thead>

                        <tbody id="donnees">

                        {% set totalespece = 0 %}
                        {% set totalorange = 0 %}
                        {% set totalcarte = 0 %}
                        {% for ven in vendeur %}

                            {% if ven.balance != 0 %}
                                <tr class="even pointer">

                                    <td>{{ ven.serveur }}</td>
                                    <td>{{ ven.espece|number_format('0', '.', ' ') }} </td>
                                    <td>{{ ven.orange|number_format('0', '.', ' ') }}</td>
                                    <td>{{ ven.carte|number_format('0', '.', ' ') }} </td>
                                    <td>{{ ven.balance }} </td>

                                    {% set totalespece = totalespece + ven.espece  %}
                                    {% set totalorange = totalorange + ven.orange  %}
                                    {% set totalcarte = totalcarte + ven.carte  %}
                                </tr>
                            {% endif %}


                        {% endfor %}

                        <tr class="headings" style="background-color:#eee;">

                            <td ><strong> GRAND TOTAL </strong></td>
                            <td > {{ totalespece|number_format('0', '.', ' ') }} Fcfa </td>
                            <td class=" ">{{ totalorange|number_format('0', '.', ' ') }} Fcfa </td>
                            <td class=" ">{{ totalcarte|number_format('0', '.', ' ') }} Fcfa</td>
                            <td > {{ total }} Fcfa</td>

                        </tr>

                        </tbody>
                    </table>

                </div>

</body>
</html>





